
@model NewFoodVM
@using myFood_WebApp.Data

@{ 
    ViewData["Title"] = "Create a new Meal";
}


<div class="row">
    <div class="col-md-8 offset-2">
        <p>
            <h4>Create new meal</h4>

            <div class="row">
                <div class="col-md-8 offset-2">
                    <form asp-action="Create">

                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label asp-for="Name" class="control-label"></label>
                                    <input asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Description" class="control-label"></label>
                                    <input asp-for="Description" class="form-control" />
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Price" class="control-label"></label>
                                    <input asp-for="Price" type="number" class="form-control" />
                                    <span asp-validation-for="Price" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="FoodCategory" class="control-label"></label>
                                    <select asp-for="FoodCategory" class="form-control" asp-items="Html.GetEnumSelectList<FoodCategory>()"></select>
                                    <span asp-validation-for="FoodCategory" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="FoodPictureURL" class="control-label"></label>
                                    <input asp-for="FoodPictureURL" class="form-control" />
                                    <span asp-validation-for="FoodPictureURL" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ResturantID" class="control-label">Resturant</label>
                                    <select asp-for="ResturantID" class="form-control" asp-items="ViewBag.ResturantId"></select>
                                    <span asp-validation-for="ResturantID" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-outline-success float-right"/>
                            <a class="btn btn-outline-secondary" asp-action="Index">Go Back</a>
                        </div>
                    </form>
                </div>
            </div>
        </p>
    </div>
</div>